.main-container {
    padding: 30px 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-x {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-x {
    /* border: 1px solid black; */
}

.container-y {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.item-y {
    /* border: 1px solid black; */
}

.container {
    width: 65vw;
    height: 65vh;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.fab {
    font-size: 3em;
}

.honey {
    width: 70px;
    transform: translate(-10px);
}

.half {
    width: 50%;
    height: 100%;
    margin: 0 20px;
}
