.main-container {
    padding: 30px 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-x {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-x {
    border: 1px solid black;
}

.container-y {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-y {
    /* border: 1px solid black; */
}

.container {
    width: 60vw;
    height: 60vh;
    margin: 0 20px;
}

.fab {
    font-size: 3em;
}

.honey {
    width: 70px;
    transform: translate(-10px);
}
